# ITM_OC_ATB_deep_dive
 - Deep dive the relationship between Attributes_Index_Readable_Headers_060923.csv (Attributes_Index), created from CURIDQ.PIMMART.DIM_ATB_INF_LKP (DIM), and CURIDQ.PIMMAR.ITM_OC_ATB (ITM)
   1. Create a list of column names specified in  Attributes_Index with 'Table in PIM-Mart' = 'ITM_OC_ATB'
      1.1.  Remove column names which do not exist in ITM_OC_ATB   
   2. Invoke function unq_val to create a DataFrame with value count for columns from 1.1 and save it to CSV file 
 - Author: Sophia Yue
 - History
   - Jun 27, 23: Initialized

In [17]:
def unq_val(df, l_col):
    """
    Purpose:
      - Create dataframe to include  
        - df0: keep feature name 
        - df1: get count for unique values from the feature
        - df2: get ratio of count for unique values from the feature 
        - df3: Merge df1 and df2 
      - Concating dfy, df0, df3 with axis = 0 
    Parameter
     input 
      df : df to be analyzed 
      l_col:  list of features
     output 
      dfy : dataframe for the count of unique values and  ratio of unique values    
    """
    dfy =  pd.DataFrame() 
    l_comment=[]
    for fea in l_col:   
       
          
           df0 = pd.DataFrame([[fea,'','', ' ']],columns=['feature','value','cnt','ratio_cnt'] )
           df1 = df[fea].value_counts(dropna = False).to_frame(name = 'cnt').reset_index()
           df1.rename(columns={'index':'value'}, inplace = True)
           sd =  df[fea].value_counts(dropna = False)/len(df)
           df2 = sd.to_frame(name='ratio_cnt').reset_index()
           df2.rename(columns={'index':'value'}, inplace = True)
           df3 = df1.merge(df2, on = 'value',how = 'inner')
           dfy = pd.concat([dfy,  df0, df3], axis = 0)


    return dfy

In [10]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:,.4f}'.format
pd.set_option('display.max_columns', None) 
pd.set_option("display.max_rows", None)

## read ITM_OC_ATB.csv file

In [2]:
path = 'C:\\users\\iny2819\\kroger\\Data\\'
path_file =  path + 'ITM_OC_ATB.csv'

In [3]:
df = pd.read_csv(path_file) # (5,024,865, 88)

C:\Users\iny2819\AppData\Local\Temp\ipykernel_3940\2908893098.py:1: DtypeWarning: Columns (3,4,6,7,8,9,12,13,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,42,43,44,45,46,47,48,49,50,51,52,53,55,56,57,58,61,62,64,66,67,70,71,72,73,77,78,79,80,81,83) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_file)

In [5]:
df.head()

,ITM_OC_ATB_ID,ITM_ID,VND_PRVD_EXP_DT,KRG_OWN_HAS_EXP_DT,KRG_SHD_ELG_FL,ATB_CHG_SIN_LST_MER_TX,MER_TO_MAS_VLU,KRG_OWN_SGE_TPT_ICR_CD,KRG_OWN_DLV_TPT_ICR_CD,KRG_IDC_FIRE_PVNN_SGE_FL,...,PLUM_DSC_4,PIK_CGY_CD,PIK_CGY_VLU,FFL_CET_SLL_BY,PLUM_DPT_CD,PLUM_DPT_VLU,KRG_OWN_HGT,KRG_OWN_LTH,KRG_OWN_WTH,KRG_OWN_GRS_WGT
0,463356662,713141138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.75,4.40,8.38,2.00
1,463356663,713141140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.00,3.50,6.00,0.10
2,463356664,713141142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.50,4.50,5.75,1.75
3,463356665,713141144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.88,5.75,0.01,0.10
4,463356666,713142971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,55.52,48.50,41.63,2379.56

In [7]:
df.describe()

,ITM_OC_ATB_ID,ITM_ID,VND_PRVD_EXP_DT,ATB_CHG_SIN_LST_MER_TX,ITM_STD_MIN_DLV_LIF,MIN_DLV_LIF,CHG_EVT_CD,CHG_EVT_VLU,MAX_TTE_FIL,MAX_RCT_ALD_PN,...,RPL_ITM_GTIN_NO,CVF_NO,MIN_RCB_LIF_DAYS,MAX_RCB_LIF_DAYS,SUP_GUA_LIF_DAYS,PLUM_DPT_CD,KRG_OWN_HGT,KRG_OWN_LTH,KRG_OWN_WTH,KRG_OWN_GRS_WGT
count,5.024865e+06,5.024865e+06,0.0,0.0,0.0,77444.000000,0.0,0.0,102123.000000,101889.000000,...,8.710000e+02,871.000000,72081.000000,72091.000000,72091.000000,1656.000000,1.670244e+06,1.666331e+06,1.670363e+06,1.110828e+06
mean,4.658691e+08,7.156532e+08,NaN,NaN,NaN,30.378854,NaN,NaN,98.290463,3.004063,...,1.617680e+11,1.191734,35.084669,921.430095,352.200566,9.723430,9.176450e+00,1.097057e+01,9.667694e+00,4.150451e+01
std,1.450554e+06,1.450554e+06,NaN,NaN,NaN,30.459065,NaN,NaN,267.821898,1.024982,...,2.727846e+11,0.574337,63.464341,1155.128210,459.875692,7.626212,2.111392e+01,1.169475e+02,1.003431e+02,3.334377e+02
min,4.633567e+08,7.131407e+08,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,1.000000,...,4.053200e+04,1.000000,0.000000,0.000000,0.000000,7.000000,1.000000e-02,1.000000e-02,1.000000e-02,1.000000e-02
25%,4.646129e+08,7.143969e+08,NaN,NaN,NaN,10.000000,NaN,NaN,18.000000,3.000000,...,1.111010e+10,1.000000,11.000000,300.000000,90.000000,7.000000,3.250000e+00,3.000000e+00,4.000000e+00,5.000000e-01
50%,4.658691e+08,7.156532e+08,NaN,NaN,NaN,30.000000,NaN,NaN,48.000000,3.000000,...,4.157306e+10,1.000000,31.000000,702.000000,285.000000,9.000000,6.380000e+00,7.870000e+00,7.000000e+00,1.600000e+00
75%,4.671253e+08,7.169094e+08,NaN,NaN,NaN,30.000000,NaN,NaN,96.000000,3.000000,...,2.004995e+11,1.000000,31.000000,1109.000000,498.000000,9.000000,1.013000e+01,1.400000e+01,1.200000e+01,7.500000e+00
max,4.683815e+08,7.181656e+08,NaN,NaN,NaN,730.000000,NaN,NaN,9999.000000,325.000000,...,8.402431e+11,6.000000,9998.000000,9999.000000,9999.000000,69.000000,1.637800e+04,9.999999e+04,9.999999e+04,9.999999e+04

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5024865 entries, 0 to 5024864
Data columns (total 88 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ITM_OC_ATB_ID             int64
 1   ITM_ID                    int64
 2   VND_PRVD_EXP_DT           float64
 3   KRG_OWN_HAS_EXP_DT        object
 4   KRG_SHD_ELG_FL            object
 5   ATB_CHG_SIN_LST_MER_TX    float64
 6   MER_TO_MAS_VLU            object
 7   KRG_OWN_SGE_TPT_ICR_CD    object
 8   KRG_OWN_DLV_TPT_ICR_CD    object
 9   KRG_IDC_FIRE_PVNN_SGE_FL  object
 10  ITM_STD_MIN_DLV_LIF       float64
 11  MIN_DLV_LIF               float64
 12  KRG_OWN_SGE_TPT_ICR_VLU   object
 13  KRG_OWN_DLV_TPT_ICR_VLU   object
 14  CHG_EVT_CD                float64
 15  CHG_EVT_VLU               float64
 16  LST_UPD_TS                object
 17  KRG_OWN_IS_RAW_CD         object
 18  KRG_OWN_IS_RAW_VLU        object
 19  KRG_OWN_IS_CHEM_CD        object
 20  KRG_OWN_IS_CHEM_VLU       object
 21  TTE_TYP_CD                object
 22  TTE_TYP_VLU               object
 23  BAG_GRP_DMG_CD            object
 24  BAG_GRP_DMG_VLU           object
 25  DETR_MTD_CD               object
 26  DETR_MTD_VLU              object
 27  RCV_HND_IST_CD            object
 28  RCV_HND_IST_VLU           object
 29  PIK_HND_IST_CD            object
 30  PIK_HND_IST_VLU           object
 31  WNE_HLD_CGY_CD            object
 32  WNE_HLD_CGY_VLU           object
 33  MAX_TTE_FIL               float64
 34  CUB_SEGR_CLS_AMBI_CD      object
 35  CUB_SEGR_CLS_AMBI_VLU     object
 36  CUB_SEGR_CLS_CHIL_CD      object
 37  CUB_SEGR_CLS_CHIL_VLU     object
 38  MAX_RCT_ALD_PN            float64
 39  MAX_ACPABL_RCT_LIF        float64
 40  MAX_USR_ADJ_ITM           float64
 41  ITM_VOL_CUB_INCH          float64
 42  PIK_ZNE_CD                object
 43  PIK_ZNE_VLU               object
 44  RCB_ZNE_CD                object
 45  RCB_ZNE_VLU               object
 46  BAG_SPA_CGY_CD            object
 47  BAG_SPA_CGY_VLU           object
 48  RSV_FL                    object
 49  DSA_REPT_SCN_FL           object
 50  ESST_FL                   object
 51  RCB_FL                    object
 52  PIK_LST_FL                object
 53  DFC_TO_SCN_FL             object
 54  SHF_LIF_QY                float64
 55  PLUM_DSC_1                object
 56  PLUM_DSC_2                object
 57  SHF_LIF_UOM_CD            object
 58  SHF_LIF_UOM_VLU           object
 59  TARE_NO                   float64
 60  TARE_UWP_NO               float64
 61  PLUM_SLS_TYP_CD           object
 62  PLUM_SLS_TYP_VLU          object
 63  COOL_CD                   float64
 64  COOL_VLU                  object
 65  SCL_PLU                   float64
 66  RPL_TYP_CD                object
 67  RPL_TYP_VLU               object
 68  RPL_ITM_GTIN_NO           float64
 69  CVF_NO                    float64
 70  FAC_ID                    object
 71  FCED_TARE                 object
 72  BAR_SCN_MTD_CD            object
 73  BAR_SCN_MTD_VLU           object
 74  MIN_RCB_LIF_DAYS          float64
 75  MAX_RCB_LIF_DAYS          float64
 76  SUP_GUA_LIF_DAYS          float64
 77  PLUM_DSC_3                object
 78  PLUM_DSC_4                object
 79  PIK_CGY_CD                object
 80  PIK_CGY_VLU               object
 81  FFL_CET_SLL_BY            object
 82  PLUM_DPT_CD               float64
 83  PLUM_DPT_VLU              object
 84  KRG_OWN_HGT               float64
 85  KRG_OWN_LTH               float64
 86  KRG_OWN_WTH               float64
 87  KRG_OWN_GRS_WGT           float64
dtypes: float64(26), int64(2), object(60)
memory usage: 3.3+ GB

In [11]:
df.isnull().any()

ITM_OC_ATB_ID               False
ITM_ID                      False
VND_PRVD_EXP_DT              True
KRG_OWN_HAS_EXP_DT           True
KRG_SHD_ELG_FL               True
ATB_CHG_SIN_LST_MER_TX       True
MER_TO_MAS_VLU               True
KRG_OWN_SGE_TPT_ICR_CD       True
KRG_OWN_DLV_TPT_ICR_CD       True
KRG_IDC_FIRE_PVNN_SGE_FL     True
ITM_STD_MIN_DLV_LIF          True
MIN_DLV_LIF                  True
KRG_OWN_SGE_TPT_ICR_VLU      True
KRG_OWN_DLV_TPT_ICR_VLU      True
CHG_EVT_CD                   True
CHG_EVT_VLU                  True
LST_UPD_TS                  False
KRG_OWN_IS_RAW_CD            True
KRG_OWN_IS_RAW_VLU           True
KRG_OWN_IS_CHEM_CD           True
KRG_OWN_IS_CHEM_VLU          True
TTE_TYP_CD                   True
TTE_TYP_VLU                  True
BAG_GRP_DMG_CD               True
BAG_GRP_DMG_VLU              True
DETR_MTD_CD                  True
DETR_MTD_VLU                 True
RCV_HND_IST_CD               True
RCV_HND_IST_VLU              True
PIK_HND_IST_CD               True
PIK_HND_IST_VLU              True
WNE_HLD_CGY_CD               True
WNE_HLD_CGY_VLU              True
MAX_TTE_FIL                  True
CUB_SEGR_CLS_AMBI_CD         True
CUB_SEGR_CLS_AMBI_VLU        True
CUB_SEGR_CLS_CHIL_CD         True
CUB_SEGR_CLS_CHIL_VLU        True
MAX_RCT_ALD_PN               True
MAX_ACPABL_RCT_LIF           True
MAX_USR_ADJ_ITM              True
ITM_VOL_CUB_INCH             True
PIK_ZNE_CD                   True
PIK_ZNE_VLU                  True
RCB_ZNE_CD                   True
RCB_ZNE_VLU                  True
BAG_SPA_CGY_CD               True
BAG_SPA_CGY_VLU              True
RSV_FL                       True
DSA_REPT_SCN_FL              True
ESST_FL                      True
RCB_FL                       True
PIK_LST_FL                   True
DFC_TO_SCN_FL                True
SHF_LIF_QY                   True
PLUM_DSC_1                   True
PLUM_DSC_2                   True
SHF_LIF_UOM_CD               True
SHF_LIF_UOM_VLU              True
TARE_NO                      True
TARE_UWP_NO                  True
PLUM_SLS_TYP_CD              True
PLUM_SLS_TYP_VLU             True
COOL_CD                      True
COOL_VLU                     True
SCL_PLU                      True
RPL_TYP_CD                   True
RPL_TYP_VLU                  True
RPL_ITM_GTIN_NO              True
CVF_NO                       True
FAC_ID                       True
FCED_TARE                    True
BAR_SCN_MTD_CD               True
BAR_SCN_MTD_VLU              True
MIN_RCB_LIF_DAYS             True
MAX_RCB_LIF_DAYS             True
SUP_GUA_LIF_DAYS             True
PLUM_DSC_3                   True
PLUM_DSC_4                   True
PIK_CGY_CD                   True
PIK_CGY_VLU                  True
FFL_CET_SLL_BY               True
PLUM_DPT_CD                  True
PLUM_DPT_VLU                 True
KRG_OWN_HGT                  True
KRG_OWN_LTH                  True
KRG_OWN_WTH                  True
KRG_OWN_GRS_WGT              True
dtype: bool

In [12]:
df.isnull().sum()

ITM_OC_ATB_ID                     0
ITM_ID                            0
VND_PRVD_EXP_DT             5024865
KRG_OWN_HAS_EXP_DT          4929767
KRG_SHD_ELG_FL              4918231
ATB_CHG_SIN_LST_MER_TX      5024865
MER_TO_MAS_VLU              5014947
KRG_OWN_SGE_TPT_ICR_CD      4922546
KRG_OWN_DLV_TPT_ICR_CD      4922783
KRG_IDC_FIRE_PVNN_SGE_FL    4929767
ITM_STD_MIN_DLV_LIF         5024865
MIN_DLV_LIF                 4947421
KRG_OWN_SGE_TPT_ICR_VLU     4922546
KRG_OWN_DLV_TPT_ICR_VLU     4922783
CHG_EVT_CD                  5024865
CHG_EVT_VLU                 5024865
LST_UPD_TS                        0
KRG_OWN_IS_RAW_CD           4922909
KRG_OWN_IS_RAW_VLU          4922909
KRG_OWN_IS_CHEM_CD          4922909
KRG_OWN_IS_CHEM_VLU         4922909
TTE_TYP_CD                  4922722
TTE_TYP_VLU                 4922722
BAG_GRP_DMG_CD              4929794
BAG_GRP_DMG_VLU             4929794
DETR_MTD_CD                 4929761
DETR_MTD_VLU                4929761
RCV_HND_IST_CD              4929756
RCV_HND_IST_VLU             4929756
PIK_HND_IST_CD              4929763
PIK_HND_IST_VLU             4929763
WNE_HLD_CGY_CD              4929795
WNE_HLD_CGY_VLU             4929795
MAX_TTE_FIL                 4922742
CUB_SEGR_CLS_AMBI_CD        4945376
CUB_SEGR_CLS_AMBI_VLU       4945376
CUB_SEGR_CLS_CHIL_CD        4982998
CUB_SEGR_CLS_CHIL_VLU       4982998
MAX_RCT_ALD_PN              4922976
MAX_ACPABL_RCT_LIF          4953644
MAX_USR_ADJ_ITM             4922975
ITM_VOL_CUB_INCH            4922979
PIK_ZNE_CD                  4922784
PIK_ZNE_VLU                 4922784
RCB_ZNE_CD                  4922784
RCB_ZNE_VLU                 4922784
BAG_SPA_CGY_CD              4929770
BAG_SPA_CGY_VLU             4929770
RSV_FL                      4922811
DSA_REPT_SCN_FL             4922880
ESST_FL                     4922810
RCB_FL                      4922879
PIK_LST_FL                  4923543
DFC_TO_SCN_FL               4922881
SHF_LIF_QY                  5023208
PLUM_DSC_1                  5023209
PLUM_DSC_2                  5023907
SHF_LIF_UOM_CD              5023209
SHF_LIF_UOM_VLU             5023209
TARE_NO                     5023209
TARE_UWP_NO                 5023209
PLUM_SLS_TYP_CD             5023209
PLUM_SLS_TYP_VLU            5023209
COOL_CD                     5024454
COOL_VLU                    5024454
SCL_PLU                     5023209
RPL_TYP_CD                  5023994
RPL_TYP_VLU                 5023994
RPL_ITM_GTIN_NO             5023994
CVF_NO                      5023994
FAC_ID                      5023994
FCED_TARE                   5023209
BAR_SCN_MTD_CD              4897760
BAR_SCN_MTD_VLU             4897760
MIN_RCB_LIF_DAYS            4952784
MAX_RCB_LIF_DAYS            4952774
SUP_GUA_LIF_DAYS            4952774
PLUM_DSC_3                  5024765
PLUM_DSC_4                  5024229
PIK_CGY_CD                  4925731
PIK_CGY_VLU                 4925731
FFL_CET_SLL_BY              4930577
PLUM_DPT_CD                 5023209
PLUM_DPT_VLU                5023209
KRG_OWN_HGT                 3354621
KRG_OWN_LTH                 3358534
KRG_OWN_WTH                 3354502
KRG_OWN_GRS_WGT             3914037
dtype: int64

## Get value count for all the column names in attributes_Index_Readable_Headers_060923.csv
    - where 'Table in PIM-Mart' == 'ITM_OC_ATB'

In [61]:
path_file_atb = path + 'Attributes_Index_Readable_Headers_060923.csv'
df_atb = pd.read_csv(path_file_atb)

In [62]:
l_col_itm_oc_atb = list(df_atb[df_atb['Table in PIM-Mart'] == 'ITM_OC_ATB']['Attribute Value Column Name'])

In [63]:
l_rmv =['FLD_TO_OVD_VLU', 'KRG_IDCd_FIRE_PVNN_SGE_FL', 'OVD_VLU','PLUM_DPT_NO','SUP_ID_FOR_OVD_VLU']
l_col = [x for x in  l_col_itm_oc_atb if x not  in l_rmv]  
l_col = l_col + ['KRG_IDC_FIRE_PVNN_SGE_FL', 'PLUM_DPT_VLU']
df_dim_item = unq_val(df, l_col )
df_dim_item['feature'] = df_dim_item['feature'].replace(np.NaN, '')
df_dim_item['value'] = df_dim_item['value'].replace(np.NaN, 'missing')

In [65]:
df_dim_item.head(10)

                  feature          value      cnt ratio_cnt
0  ATB_CHG_SIN_LST_MER_TX
0                                missing  5024865    1.0000
0         BAG_GRP_DMG_VLU
0                                missing  4929794    0.9811
1                          Medium Weight    44934    0.0089
2                                Bruiser    30965    0.0062
3                               Delicate    19172    0.0038
0         BAG_SPA_CGY_VLU
0                                missing  4929770    0.9811
1                                 Normal    94942    0.0189

In [66]:
df_dim_item.to_csv(path + "dim_itm_oc_atb.csv",index=None)